{% extends 'polls/base.html' %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


{% block content %}
<div class="container">

    <div class="jumbotron">
        <h1>Polls App</h1>
        <h3>Questions</h3>
    </div>

{% if latest_question_list %}

    <div class="panel-group">
        {% for q in latest_question_list %}
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{% url 'polls:detail' q.id %}">{{ q.question_text }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No polls available.</p>
{% endif %}

</div>
{% endblock %}